<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Forms</title>
    <link rel="stylesheet" href="static/style.css" id="theme-stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>
<body>
    <header>
        <h1>Your Forms</h1>
    </header>
    <main>
        <section id="formSection" class="rounded">
            <ul id="formsList"></ul>
        </section>
    </main>

    <script src="static/forms_script.js" defer></script>
</body>
</html>
